
.titlebar {

    color: aliceblue;
}

.img-admin {
     height: 50px;
     width: 50px;
     padding: 0px 0px 0px
}

inline{
    display: inline-block;
}


.logo {
    height: 50px;
    width: 110px;
    border-radius: 20%;
}

.title {
    font-family: cursive;
    font-size: 30px;
}

.adminbutton{
    width: 115px;
    height: 50px;
    font-size: 16px;
}

.adminlogo{
    height: 30px;
    width: 30px;
} 

.leftstyle{
    font-size: 18px;
    border-right:1px solid black;
    border-bottom:1px solid rgb(221, 220, 220); 
    background-color:#f8f8f8
}


.dashleft-button{
    border: none;
    background-color: #f8f8f8;
    font-size: 18px;
    width:250px;
    text-align-last: left;
}
.mystyle {
    border-radius: 5px;
    box-shadow: 5px 5px gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

.mybutton {
    height: 30px;
    width: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

.card {
    box-shadow: 0 5px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 30%;
    float: none;
    margin: 0px auto;

  }

  .imgs {
    float: none;
    margin: 0px auto;
   margin-left: 70px;
    width:60%; 
    height:90%

  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }